.cards-wrapper {
  all: unset;
  width: 60%;
  height: 80%;
  overflow-y: scroll;
}
.time-status-wrapper > p,
.details-wrapper > p,
.container > :is(button.reserved, button.seated) {
  font-size: clamp(14px, 0.1vw, 20px);
  padding: 4px 0px;
}

.container {
  width: calc(100% - calc(min(2vw, 24px) * 2) - 4px);
  height: 16%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: min(2vw, 24px);
  margin-bottom: 8px;
  cursor: pointer;
}

.time-status-wrapper {
  width: 80px;
  padding-right: 12px;
}

.time-status-wrapper > p {
  width: 90%;
  height: 50%;
  margin: 0;
  text-align: center;
}

p.reserved {
  color: #3bb94c;
}

p.seated {
  color: #162149;
}

.details-wrapper {
  width: 70%;
  padding-right: 8px;
}

.details-wrapper > p {
  width: 100%;
  height: 33%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container > button {
  width: 15%;
  min-width: 60px;
  height: 44px;
  border-radius: 6px;
  cursor: pointer;
}

button.reserved {
  background-color: #162149;
  color: white;
  border: 1px solid white;
}

button.seated {
  background-color: white;
  color: #162149;
  border: 1px solid #162149;
}

@media (height <= 655px) and (width <= 320px) {
  .cards-wrapper {
    width: calc(100% - 16px);
    height: fit-content;
  }
  .container {
    width: calc(100% - calc(12px * 2) - 4px);
    height: 88px;
    padding: 12px;
  }
  .time-status-wrapper {
    width: 60px;
    padding: 0;
  }
  .details-wrapper {
    width: 140px;
  }
}
