body {
  width: (100vw - 16px);
  height: calc(100vh - 32px);
  margin: 0px;
  background-color: #ced8e4;
  padding: 24px 8px 8px 8px;
  padding-top: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body > main {
  width: clamp(320px, 100%, 1024px);
  min-height: 655px;
  height: 655px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

main > h1 {
  text-align: center;
  font-weight: 400;
  font-size: clamp(2.2rem, 4vw, 3.2rem);
}

.cards-wrapper,
main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards-wrapper::-webkit-scrollbar,
main::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 720px) {
  body {
    width: 100vw;
    padding: 0px;
  }
  body > main {
    width: 100%;
    height: fit-content;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    min-height: fit-content;
    padding-bottom: 24px;
  }
}
