.details-container {
  text-align: center;
  width: clamp(240px, 60%, 360px);
  height: calc(80% - 24px * 2);
  border-radius: 15px;
  padding: 24px;
  background-color: white;
  z-index: 2;
}
p {
  margin: 0;
  padding-bottom: 24px;
  font-size: clamp(20px, 1.3vw, 24px);
}
.details-container > p:nth-last-of-type(1) {
  padding: 24px 0px;
}

.grid-area {
  display: grid;
  grid-template-columns: 28% 72%;
  grid-template-rows: repeat(3, 40px);
  text-align: center;
  align-items: flex-start;
  justify-self: flex-start;
}
.grid-area:nth-of-type(3) {
  padding: 4vw 0px;
  grid-template-rows: 44px;
  align-items: flex-end;
}

dd {
  all: unset;
  width: calc(100% - 40px);
  text-align: left;
  padding: 0px 24px;
  font-size: clamp(14px, 1.4vw, 16px);
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
dt {
  width: 100%;
  color: rgb(145, 145, 145);
  font-size: clamp(16px, 1.5vw, 20px);
  word-break: keep-all;
}

.view-full-memo:is(.grid-area:nth-of-type(2), dd, .details-container) {
  -webkit-line-clamp: unset;
  grid-template-rows: 40px 40px minmax(40px, 1fr);
  height: fit-content;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.387);
}

.close {
  all: unset;
  cursor: pointer;
  position: absolute;
  padding: 8px;
  top: 20px;
  right: 20px;
  visibility: hidden;
}

@media only screen and (max-width: 720px) {
  .details-container {
    width: 70%;
    height: fit-content;
    position: fixed;
    bottom: -80%;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 100%;
    transition: all 0.7s ease-in-out;
    -webkit-transition: all 0.7s ease-in-out;
  }
  .slide-up {
    width: calc(100% - 24px * 2);
    opacity: 1;
    transform: scaleY(1);
    bottom: -2%;
  }
  .grid-area {
    grid-template-rows: minmax(20px, 6vh) minmax(20px, 6vh) minmax(20px, 6vh);
  }
  .view-full-memo:is(.grid-area:nth-of-type(2), dd, .details-container) {
    grid-template-rows: minmax(20px, 6vh) minmax(20px, 6vh) minmax(6vh, 1fr);
  }
  .grid-area:nth-of-type(3) {
    padding-top: 40px;
  }
}
