.details-container {
  text-align: center;
  width: clamp(240px, 40%, 360px);
  height: calc(80% - 24px * 2);
  border-radius: 15px;
  padding: 24px;
  background-color: white;
}
.grid-area {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 44px 44px 44px;
  text-align: center;
  align-items: center;
  justify-self: flex-start;
}

.requested-term > .grid-area {
  grid-template-rows: 44px;
}

.requested-term {
  padding: 40px 0px;
}

dd {
  all: unset;
  width: calc(100% - 24px);
  text-align: left;
  padding-left: 24px;
}

dt {
  width: 100%;
  color: rgb(145, 145, 145);
}

.details-container > p {
  font-size: 23px;
  margin: 0;
  padding: 12px 0px;
}

@media (max-height: 655px) and (max-width: 320px) {
  .details-container {
    display: none;
  }
}
